html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul {
  outline: 0;
}

nav {
  box-shadow: 0px 3px 3px #242424;
  position: sticky;
  top: 0;
  z-index: 1;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  margin: 0;
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLink {
  display: flex;
  align-items: center;
}

.nav-left {
  margin: 0px 10px;
}

.navbarLink ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.navbarLink li {
  display: inline;
  padding: 16px 8px;
}

.navbarLink a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.navbarLink li:hover {
  background-color: black;
}

#mainPage {
  display: flex;
  flex-direction: column;
}

.notification {
  background-color: lightcoral;
  border-left: 4px;
  border-color: red;
  border-style: none;
  border-left-style: solid;
  border-radius: 10px;
  margin: 16px 16px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  margin: 0;
}

.notification span {
  color: white;
  font-size: 25px;
}
.notification span:hover {
  cursor: pointer;
}

.content {
  margin: 0px 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.contentImgContainer {
  position: relative;
  height: 300px;
  width: auto;
  box-shadow: 0px 3px 3px #242424;
}

.contentImg {
  width: 100%;
  height: inherit;
  object-fit: cover;
  text-align: center;
}

.contentPageTitle {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 64px;
  font-weight: 800;
  text-shadow: 1px 1px 4px black;
}

.content p {
  font-size: 18px;
}

#backToTop {
  position: fixed;
  width: 48px;
  height: 48px;
  background-color: white;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  box-shadow: 0 0 7px gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backToTop a {
  position: relative;
  color: black;
  text-decoration: none;
}

#backToTop:hover {
  box-shadow: 0 0 8px black;
}

footer {
  height: 50px;
  width: auto;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
}

footer p {
  color: gray;
  padding-left: 10px;
}

.white {
  color: white;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.fw-normal {
  font-weight: normal;
}
